@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp-vars;

.newspack-breadcrumbs__list {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		flex-shrink: 0;
		margin: 0;

		a {
			color: wp-colors.$gray-900;

			&:hover,
			&:focus,
			&:active {
				color: wp-colors.$gray-900;
			}
		}
	}

	> li:last-child {
		flex-shrink: 1;
		min-width: 0;
	}
}

.newspack-breadcrumbs__count {
	color: var(--wpds-color-foreground-content-neutral-weak, #{wp-colors.$gray-700});
	font-weight: wp-vars.$font-weight-regular;
}

.newspack-breadcrumbs__separator {
	color: var(--wpds-color-stroke-surface-neutral, #dbdbdb);
	margin: 0 var(--wpds-dimension-gap-sm, 8px);
	user-select: none;
}

.newspack-breadcrumbs__list h1.newspack-breadcrumbs__current {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0;
	line-height: normal;
}
